

*{margin:0 ;
padding: 0;
box-sizing: border-box;
font-family: "https://www.fontspace.com/autumn-flowers-font-f86879ac";
}

.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(2, 31, 66, 0.8),rgba(4, 178, 163, 0.4)), url(bg2.jpg);
    background-position:center;
    background-size: cover;
    position:relative;
}

.form-box
{
width: 90%;
max-width: 400px;
height: 250px;
top: 50%;
left: 50%;
position: absolute;
text-align: center;
background: center;
background-color: rgb(156, 160, 158);
padding: 50px,60px,70px;
transform:translate(-50%,-50%);}

.form-box h1{
    font-size:medium ;
    margin-bottom: 60px;
    color: rgb(226, 145, 46);
    position: relative;
}
.form-box h1::after{
    content: "";
    position: relative;
    background: darkolivegreen;
    width: 200px;
    height: 3px;
    border-radius: 1px;
    bottom: -10px;
    left: 40%;
    
    transform: translate(-50%,-50%);
}